/* Webfont: Aamiya-Regular */
@font-face {
  font-family: "Aamiya";
  src: url("./fonts/Aamiya-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Aamiya-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("./fonts/Aamiya-Regular.woff") format("woff"), /* Modern Browsers */
       url("./fonts/Aamiya-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("./fonts/Aamiya-Regular.svg#Aamiya-Regular") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Garute-Regular */
@font-face {
  font-family: "Garute";
  src: url("./fonts/Garute-Regular.woff") format("woff"), /* Modern Browsers */
       url("./fonts/Garute-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
*{
  margin: 0;
  padding: 0px;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #E9E6DA;
  box-sizing: border-box;
  font-size: 100%;
  font-family: Garute, sans-serif;
}
footer {
  margin-top: auto;
}
.button{
  background-color: #AC1A00;
  color: #EFEFEF;
  max-width: 100%;
  flex: 0 1 auto;
  margin: 1rem auto;
  border: 0;
  padding: 0.5rem 2rem;
  font-size: 2.2rem;
  cursor: pointer;
  font-family: Garute, sans-serif;
}
#header{
  text-align: center;
  background-color: #323331;
  color: #E9E6DA;
  padding: 1rem;
  box-shadow: 3px 0px 10px #323331a6;
  border-bottom: 1px #1f1c1b;
}
#music {
  font-size: 2.3em;
  text-decoration: none;
  color:#E9E6DA;
}
.quote{
  font-size: 1.5em;
  font-family: Aamiya, sans-serif;
  font-style: italic;
}
/*--------cards-----------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
@media screen and (min-width: 900px) {
  .cards {
    margin: 0 3%;
  }
}
.card{
  display: flex;
  flex-direction: column;
  flex: 0 1 600px;
  margin: 2% 2%;
  -width: 600px;
  -align-items: stretch;
  text-decoration: none;
  background-color: #d2cbb5;
  color: #1f1c1b;
  cursor: pointer;  
  background-image: url("img/guitar.png");
  background-repeat: no-repeat;
  background-position: right;
}
/*--- for the detail page ------*/
.details{
  flex-direction: row;
  max-width: 750px;
  margin: 2% auto;
  cursor: auto;
}
.stripe{
  display: block;
  text-decoration: none;
  background-color: #AC1A00;
  text-align: left;
  color: #EFEFEF;
  margin: -1% auto 7%;
  padding: 0.1rem 0;
  font-size: 1.5rem;
}
/*--- end: for the detail page ------*/
a {
  transition: 1s;
}
.card:hover{
  cursor: pointer;
  box-shadow: 1rem 0.5rem 0.5rem rgba(56, 53, 53, 0.2);
}
.card:focus{
  box-shadow: 1rem 0.5rem 0.5rem rgba(56, 53, 53, 0.2);
}
.card_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    font-size: 1rem;
    justify-content: center;
    
}
.title {
    font-weight: bold;
    font-size: 1.1rem;
}
  
/*-------left side-------*/
.card_left{
    display: flex;
    -flex: 0 1 284px;
    -max-width: 50%;
    -align-items: stretch;
    width: 284px;
    flex-direction: column;
    align-content: center;
}
.card_left .band_name{
      text-align: right;
      margin: 5% 8% 0;
}
.cover {
      margin: 8%;
      -flex: 1;
      box-shadow: 0.3rem 0.2rem 0.1rem rgba(56, 53, 53, 0.2);
      max-height: 240px; 
      max-width: 240px;
}

.info_details{
      margin: 5% 8%;
      font-size: 1rem;
}
.card_left p{
     line-height: 200%;
}
  /*-------right side-------*/
  .card_right{
    flex: 1 0 auto;
    -width: calc(100% - 284px);
    -min-width: 50%;
}
.band_name{
    margin: 6% 4% 2% 0.5%;
    text-transform: uppercase;
}
@counter-style music{
    system: cyclic;
    symbols: "♪";
    suffix: "  ";
}
ul{
  list-style-type: none;
    vertical-align: top;
    margin: 5% 10%;
}
.memlist {
    list-style-type: music;
}
ul.location p{
    text-transform: capitalize;
}
li ul{
    list-style-type: none;
}
li {
    line-height: 200%;
    clear: both;
}
li>p{
    display: inline-block;
    font-size: 1.2rem;
}
.location, .date{
    display: block;
    margin-top: 15%;
}
.date{
    display: inline-block;
    margin: 0 1% 7%  ;
    float: right;
    font-size: 1.1rem;
    text-align: end;
}
  /*-------bottom-------*/
.card_bottom{
    display: flex;
    max-height: 5.5rem;
}
  /* CSS for filters */
#filbut {
    position: fixed;
    background-color: #AC1A00;
    color: #EFEFEF;
    max-width: 100%;
    height: 80px;
    flex: 0 1 auto;
    margin: 1.5rem auto;
    border: 0;
    padding: 0.5rem 2rem;
    font-size: 2.2rem;
    cursor: pointer;
    font-family: Garute, sans-serif;
    box-shadow: 3px 0px 15px #32333150;
}
#filtr {
    display: none;
    background-color: rgb(63, 73, 50);
    background: linear-gradient(105deg, rgb(79, 88, 54), rgb(51, 59, 41));
    height: 1030px;
    border-radius: 0px 0px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 3px 0px 15px #323331a1;
    margin-bottom: 20px;
}
#filters {
    margin-left: 2%;
    margin-right: 2%;
}
#choosefiltrs {
    padding: 20px;
    text-align: center;
    color: rgb(169, 158, 129);
    font-family: "Garute";
    font-size: 30px;
}
#subbutt {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px black;
    font-size: 20px;
    font-family: "Garute";
    margin-left: 9%;
    background: linear-gradient(145deg, #04AA6D, #047149);
    margin-top: 30px;
    transition: 1s;
}
#subbutt:hover {
    border-radius: 30px;
    border: 1px black;
    background: linear-gradient(145deg, #03925d, #04603e);
    box-shadow: 5px 3px 7px #323331;
}
#buttonssub {
  display: inline-flex;
  margin: 20px;
}
#resetbutt {
    padding: 14px 40px 14px 40px;
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #1f1c1b;
    font-family: "Garute";
    background: linear-gradient(145deg, #038454, #04603e);
    margin-top: 30px;
    margin-left: 20px;
    transition: 1s;
}
#resetbutt:hover {
  border-radius: 30px;
  border: 1px black;
  background: linear-gradient(145deg, #03764c, #044f34);
  box-shadow: 5px 3px 7px #323331;
}
  /* sliders */
.slider {
    width: 300px;
    margin: 20px;
}
.slider input[type="range"] {
    width: 400px;
    -webkit-appearance: none;
    background: #d3d3d3;
    height: 10px;
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
    display: grid;
}
input#minRange {
    position: relative;
    display: flex;
}
input#maxRange[type="range"] {
    position: relative;
    display: flex;
    background: rgba(0,0,0,0);
    margin-top: 0px;
}
input#maxRange[type="range"]::-webkit-slider-thumb {
    margin-top: -25px;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}
.slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}
.datte {
    display: flex;
    height: 20px;
    margin: 20px;
}
#minnYear {
    margin-top: -15px;
}
#maxxYear {
    margin-top: -15px;
}
fieldset {
    border-radius: 10px;
    border: none;
    font-family: "Garute";
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.107);
    margin: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}
fieldset:hover {
    background-color: rgba(0, 0, 0, 0.192);
}
/* Container for checkboxes */
.container {
  display: inline-flex;
  position: relative;
  padding-left: 35px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eeeeee00;
  border: 2px solid #4caf4f80;
  border-radius: 3px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #00000023;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4caf4f;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid #d3d3d3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=text] {
  background-color: #eeeeee00;
  border: 2px solid #3f90427b;
  border-radius: 30px;
  font-size: 22px;
  color: rgba(228, 228, 228, 0.79);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 20px;
  margin-left: 20%;
}
input[type=text]:focus {
  background-color: #d3d3d321;
} 
.colorr {
  color: rgba(228, 228, 228, 0.304);
}
legend {
  padding: 7px;
  background-color: #4caf4fab;
}
input#searchbar {
  background-color: #E9E6DA;
  border: 3px solid #d2cbb5;
  font-family: "Garute";
  font-size: 20px;
  border-radius: 30px;
  font-size: 22px;
  color: rgb(40, 37, 35);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 0px;
}
#search {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
}
ul#dropdown {
  position: absolute;
  display: none;
  width: 290px;
  margin: 0px;
  background-color: rgb(240, 236, 228);
  margin-left: 38%;
  margin-top: -20px;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  box-shadow: 0px 0px 10px #323331a6;
}
.listclass:hover {
  background-color: rgba(0,0,0,0.05);
  border-radius: 5px;
}