<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title"}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Explora&family=Poiret+One&family=Poppins:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" sizes="192x192" href="/static/icon.svg">

    <script src="https://kit.fontawesome.com/a70d11ed42.js" crossorigin="anonymous"></script>

    
</head>
<body id="body">
  <header id="header">
    <h1 class="hat"><a href="http://localhost:8080/" id="music">MUSIC</a></h1>
    <div class="quote">Those who wish to sing always find a song.</div>
    <fieldset id="search">
    <input type="text" id="searchbar" placeholder="Search.." onfocus="checkfocus()" onblur="checkfocusout()">
      <ul id="dropdown">
        <!-- Add li using JavaScript -->
      </ul>
  </fieldset>
  </header>
 
  <!-- Menu end-->
  {{template "content" .}}    
  
  <footer id="footer">
    <small>&copy; 2023 Created by: Olena Budarahina (Gitea username: obudarah), Kristina Volkova (Gitea username: Mustkass) for Kood/Johvi.</small>
  </footer>
  <script type="text/javascript" src="static/javascript.js"></script>
</body>
</html>
