{{- /* Go Template */ -}}
{{ define "title" }}
  "Groupie Tracker"
{{ end }}
{{define "content"}}

<button id="filbut" onclick="filter()">
   <i class="fa-solid fa-lg fa-sliders"></i> 
</button>

<!-- FILTERS -->
<div id="filtr">
<form  action="/" method="GET" id="filters">
  
  <p id="choosefiltrs">CHOOSE FILTERS:</p>
    <fieldset>
      <legend>Creation Date:</legend>
      <p class="colorr">Search year from <span id="CreationYearFrom" class="outCreationDateFrom">{{.FiltersConstrains.MinYearCreation}}</span> to <span id="CreationYearTo" class="outCreationDateTo">{{.FiltersConstrains.MaxYearCreation}}</span></p>
      <div class="slider">
        <input type="range" id="minRange" min="{{.FiltersConstrains.MinYearCreation}}" max="{{.FiltersConstrains.MaxYearCreation}}" value="{{.FiltersConstrains.MinYearCreation}}" name="CreationDateFrom" class="CreationDateFrom">
        <input type="range" id="maxRange" min="{{.FiltersConstrains.MinYearCreation}}" max="{{.FiltersConstrains.MaxYearCreation}}" value="{{.FiltersConstrains.MaxYearCreation}}" name="CreationDateTo" class="CreationDateTo">
      </div>
    </fieldset> 

    <fieldset>
      <legend>First Album Date:</legend> 
      <p class="colorr">Search date from <span id="frdate" class="outFirstAlbumFromDay">1</span> <span id="frmonth"  class="outFirstAlbumFromMonth">January</span> <span id="fryear"  class="outFirstAlbumFromYear">{{.FiltersConstrains.MinYearCreation}}</span>...</p>
    <div class="datte">
      <select name="FirstAlbumFromDay" class="FirstAlbumFromDay" id="frday">
        <option value="0">---</option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select name="FirstAlbumFromMonth", class="FirstAlbumFromMonth" id="frmont">
        <option value="0">---</option>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
        <div class="slider">
          <input type="range" name="FirstAlbumFromYear", class="FirstAlbumFromYear" min={{.FiltersConstrains.MinYearCreation}} max={{nowYear}} value={{.FiltersConstrains.MinYearCreation}} class="slider" id="minnYear">
        </div>
      </div>
      
        <p class="colorr">...to <span id="todate" class="outFirstAlbumToDay">1</span> <span id="tomonth" class="outFirstAlbumToMonth">July</span> <span id="toyear" class="outFirstAlbumToYear">{{nowYear}}</span></p>
        <div class="datte">
        <select name="FirstAlbumToDay" class="FirstAlbumToDay" id="today">
        <option value="0">---</option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select name="FirstAlbumToMonth" class="FirstAlbumToMonth" id="tomont">
        <option value="0">---</option>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <div class="slider">
        <input type="range" name="FirstAlbumToYear" class="FirstAlbumToYear" min={{.FiltersConstrains.MinYearCreation}} max={{nowYear}} value={{nowYear}} class="slider" id="maxxYear">
      </div>
    </div>
    </fieldset>  
    <fieldset>

      <legend>Number Of Members:</legend> 
      {{$flags := .FiltersValues.Members }}
      <div>
        {{range $index, $i := .FiltersConstrains.Members}}
        <label class="container" class="colorr">{{$i}}
            <input type="checkbox" id="m{{$i}}" name="Members" class="Members" value={{$i}} />
            <span class="checkmark"></span>
          </label>
        {{end}}
      </div>
    </fieldset>  
   
  <fieldset>
      <legend>Locations Of Concerts:</legend> 
      <input type="text" id="location-filter" name="Location" class="Location" list="location-list">
    <datalist id="location-list">
      <option id = "0" value="">--Please choose an option--</option>
      {{$selected := .FiltersValues.Location }}
      {{range $loc, $val := .FiltersConstrains.Locations}}
          <option id={{$loc}} value={{$loc}} {{if eq $loc $selected}}selected{{end}} >{{$loc}}</option>
      {{end}}
    </datalist>
  </fieldset>  

<fieldset>
    <legend>Name:</legend> 
    <input type="text" name="Name" class="Name" />
</fieldset>  
      

<div id="buttonssub"></div>
<input type="submit" value="Submit" id="subbutt">
<a href="http://localhost:8080" id="resetbutt">Reset filters</a>
</div>
</form>
</div>
 <!-- FILTERS -->


<main  class="cards">
{{ range $i, $card := .Artists }}
  <a href="/info?id={{.Id}}" class="card" id="{{ .Id }}">
    <div class="card_top">
      <section class="card_left">
          <img class="cover" src="{{ $card.Image }}" alt="{{ $card.Name }}">
        <div class="info_details">  
          <p class="info_row" id="creation">
              <span id="title_creation" class="title" >Creation: </span>
              {{ $card.CreationDate }}
          </p>
          <p class="info_row" id="album">
              <span id="title_album" class="title" >The first album: </span>
              {{ $card.FirstAlbum }}
          </p>
        </div>
      </section>
      <section class="card_right">
        <h2 class="band_name title">{{ $card.Name }}</h2>
        <div class="members">
          <ul>
            {{ range $card.Members }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </section>
    </div>
    <div class="card_bottom">
      <button class="button">SEE MORE</button>
    </div>
  </a>
  {{ else}}
    No bands 
  {{end}}

</main>
{{end}}


